<header class="header">
  <nav class="nav container flex">
    <div class="task-header">
      Admin Panal
    </div>
    <a href="/admin/update/{{token}}" class="login btn">
      delete ALL
    </a>
  </nav>
</header>